@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*Using the HTML5 Web Storage API*@

<script>
    // Setting data in sessionStorage
    sessionStorage.setItem('username', 'JohnDoetest');
    sessionStorage.setItem('userRole', 'Admin');
</script>